{% extends ../base.html %}

{% block body %}
    {% if error %}
        <div class="w3-panel w3-card-4 w3-red w3-display-container 
            w3-padding w3-animate-top">
            <span class="w3-button w3-red w3-display-topright"
                onclick="this.parentElement.style.display='none'">
                &times;
            </span>
            {{ error }}
        </div>
    {% end %}

    <div class="w3-panel w3-card-4 w3-round-xxlarge w3-light-grey center">
        <h1 class="w3-margin">Sign up</h1>
        <form action="{{ handler.reverse_url('register') }}" 
            method="POST" class="w3-margin">
            {% module xsrf_form_html() %}
            <input type="text" name="username" id="username" 
                required="required" class="w3-input w3-animate-zoom" />
            <label for="">Username</label>
            <input type="password" name="password" id="password" 
                required="required" class="w3-input w3-animate-zoom" />
            <label for="">Password</label>
            <input type="email" name="email" id="email" 
                required="required" class="w3-input w3-animate-zoom" >
            <label for="">Email</label>
            <br />
            <div class="g-recaptcha" data-sitekey="{{ sk }}"></div>
            <br />
            <input type="submit" value="{{ _('Signup') }}" 
                class="w3-button w3-cell-row w3-green" />
            <p class="w3-tiny w3-center">If you already have an account, go to 
                <a href="{{ handler.reverse_url('login') }}" 
                class="w3-text-blue w3-hover-text-green w3-small">login </a>page</p>
        </form>
    </div>

    <script src='https://www.google.com/recaptcha/api.js'></script>
{% end %}